body{
    background-color: #313131;
}
#main_border{
    margin: 40px 30px 38px 40px;
    border:20px solid #21FEFE;
    border-radius: 30px;
}


#blockOfMainInfo{
    background-color: #1C1D1D;
    margin-bottom: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: row wrap;
}
#blockOfMainInfo div{
    color: white;
    font-size: 50px;
    font-family: 'Lucida Sans Regular';
}



#logo2{
    width: 158px;
    height: 115px;
}
#header{
    font-size: 40px;
    color: white;
    background-color: #252626;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}
#header div{
    font-family: 'Lucida Sans Regular';
    font-size: 50px;
}
#mag_logo, #faq_logo, #ref_logo{
    height: 70px;
    width: 70px;
}
#pers_logo{
    border-radius: 500px;
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 135px;
    height: 135px;
}
#search_logo{
    width: 35px;
    height: 35px;
}
#search{
    background-color: #313131;
    border-radius: 40px;
}



#blockWithNews{
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin-bottom: 5%;
}
#toRight, #toLeft{
    border-radius: 500px;
    background-color: #1C1D1D;
    width: 120px;
    height: 120px;
}
#toLeft{
    margin-right: 2%;
    margin-left: 2%;
}
#toRight{
    margin-left: 2%;
    margin-right: 2%;
}
#News{
    width: 78%;
    height: 723px;
    border: 10px solid #21FEFE;
    border-radius: 60px;
    margin-top: 64px;
    left: 217px;
    background-color: #1C1D1D;
    color: white;
    padding: 20px 37px 32px 32px;
}
#news_img{
    border-radius: 30px;
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Rocket_League.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.gridNews{
    display: grid;
    grid-template-areas: 
    "head head info"
    "pic pic info"
    "pic pic fav_bask";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    text-align: left;
    grid-column-gap: 3%;
}



#blockWithBestseller, #blockWithFree, #blockWithSales{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    
}

#Best, #Free, #Sale{
    width: 78%;
    height: 872px;
    border: 10px solid #21FEFE;
    border-radius: 60px;
    background-color: #1C1D1D;
    color: white;
    padding: 2%;
    text-align: center;
}
#GameName, #GameCost{
    border-radius: 20px;
    color: #21FEFE;
    background-color: #313131;
}
.gridBest, .gridSale, .gridFree{
    display: grid;
    grid-template-areas: 
    "NameOf watchAll watchAll"
    "pic1 pic2 pic3"
    "InfoGame1 InfoGame2 IndoGame3";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 3fr 1fr;
    text-align: left;
    grid-column-gap: 3%;
}


#AtH_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/AtomicHeart.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#DL2_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/DyingLight2.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#GoW_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/God_of_War.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}

#GI_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Genshin_Impact.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#D2_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Dota_2.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#AL_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Apex_Legends.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#REV_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Resident_Evil_Village.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#O_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Overcooked.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}
#I_img{
    background-image: url("D:/Бгту/2 семестр/Барковский - курсовая/img of site/Inscryption.jpg");
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110%;
    margin-bottom: 5%;
}

#footer{
    color: #21FEFE;
    background-color: #1C1D1D;
    border-radius: 30px;
    display: grid;
    grid-template-areas: 
    "partner community"
    "services company";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    font-size: 40px;
    padding: 5% 5% 0% 5%;
}
#vk_logo, #instagram_logo, #twitter_logo, #telegram_logo, #github_logo{
    width: 60px;
    height: 60px;
    margin: 1%;
}