$neon_aqua: #21FEFE;
$dark_grey: #1C1D1D;
$preloader: rgb(14, 17, 31);
%background{
    background-color: $dark_grey;
}
%main_border{
    border: 1.5vw solid $neon_aqua;
    border-radius: 2vw;
}
%size_icons{
    width: 4vw;
    height: 4vw;
    margin: 1vw;
}
@mixin main_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%another_border{
    border: 0.4vw solid $neon_aqua;
}
@mixin font-50px{
    font-size: 3.4vw;
}
@mixin font-20px{
    font-size: 1.5vw;
}
@mixin font-30px{
    font-size: 2vw;
}
@mixin font-40px{
    font-size: 2.7vw;
}
@mixin border_radius_20px {
    border-radius: 1.5vw;
}
@mixin border_radius_30px {
    border-radius: 2vw;
}
@mixin border_radius_60px {
    border-radius: 4vw;
}
@mixin setImg {
    @include border_radius_30px();    
    background-repeat: no-repeat;
    background-size: cover;
    height: 40.5vw;
    margin-bottom: 5%;
    background-position: center;
}



body{
    background-color: #313131;
}
#main_border{
    @extend %main_border;
}


#logo2{
    width: 11vw;
}

#header{
    @include font-40px();
    color: white;
    background-color: #252626;
    @include border_radius_20px();
    @include main_flex();
    margin-bottom: 1vw;
}

#header div{
    font-family: 'Lucida Sans Regular';
    @include font-40px();
}
#mag_logo, #faq_logo, #ref_logo{
    height: 6vw;
    width: 6vw;
}
#pers_logo{
    width: 9vw;
    height: 9vw;
}
#search_logo{
    width: 3vw;
}
#search{
    background-color: #313131;
    border-radius: 2.7vw;
}


/* Page content */
.content {
    padding: 16px;
}
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 94.7vw;
    background: #313131;
    color: #f1f1f1;
z-index: 20;
}
/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
}

.BlockQuestions{
    margin-top: 3vw;
}
.Question{
    box-shadow: 0 0 2vw #21FEFE;
    margin-bottom: 2vw;
    @include border_radius_20px();
}
.textQuest{
    background-color: #1C1D1D;
    color: #21FEFE;
    font-size: 3vw;
    display: block;
    padding: 1.5vw;
    border-top-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
}
.answerQuest{
    background-color: #252626;
    color: white;
    font-size: 2vw;
    display: none;
    padding: 0.5vw 2vw 2vw 2vw;
    border-bottom-right-radius: 2vw;
}
#showAnsw, 
#showAnsw1, 
#showAnsw2{
    display: none;
}
#showAnsw:checked ~.answerQuest, 
#showAnsw1:checked ~.answerQuest,
#showAnsw2:checked ~.answerQuest{
    display: block;
}



.referenceBlock{
    color: white;
    font-size: 2vw;
    border-top: 0.6vw dashed #1C1D1D;
    border-bottom: 0.6vw dashed #1C1D1D;
    margin: 3vw 0vw 3vw 0vw;
    padding-bottom: 1vw;
}
.Ref{
    font-size: 5vw;
    color: #21FEFE;
}
.mainThink{
    font-size: 2.5vw;
    box-shadow: 0 0 1vw #21FEFE;
    margin: 2vw;
    @include border_radius_20px();
    padding: 1vw;
    background-color: #252626;
}
.rootsRef{
    font-size: 3vw;
    color: #21FEFE;
    margin: 1vw;
}
.listRoots li{
    font-size: 2.4vw;
    padding-bottom: 1vw;
    margin-top: 1.3vw;
    color: rgba(31, 203, 203, 0.9);
}
.thanksRef{
    margin: 1vw;
    padding: 1vw;
    font-size: 2.8vw;
    box-shadow: 0 0 2vw #21FEFE;
    background-color: #252626;
    @include border_radius_20px();
}



.simplebar-track.simplebar-vertical {
	background-color: none;
	width: 1vw;
    box-shadow: 0 0 2vw grey;
    border-radius: 5vw;
}

.simplebar-content-wrapper {
	padding-right: 0.5vw;
}

.simplebar-scrollbar::before {
	opacity: 1;
	background-color: #21FEFE;
	border-radius: 0;
    margin-right: 1vw;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
	top: 0;
	bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
	opacity: 1;
}


#onTop{
    display: inline-block;
    border-radius: 500px;
    background-color: #252626;
    img{
        height: 6vw;
        width: 6vw;
        transform: rotate(90deg);
    }
    z-index: 20;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 3vw;
}

#footer{
    color: $neon_aqua;
    background-color: #1C1D1D;
    @include border_radius_30px();
    display: grid;
    grid-template-areas: 
    "partner community"
    "services company";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    @include font-40px();
    padding: 5% 5% 0% 5%;
}
#vk_logo, #instagram_logo, #twitter_logo, #telegram_logo, #github_logo, #link_logo{
    @extend %size_icons;
}








#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $preloader;
}
#preloader.hide-preloader {
    animation: hidePreloader 1s;
}

#preloader.preloader-hidden {
    display: none;
}

@keyframes hidePreloader {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
